---
// Component imports
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <section class="flex flex-1 flex-col justify-between p-6">
    <!-- Welcome -->
    <div
      class="mx-auto flex max-w-xl flex-1 flex-col justify-center space-y-10"
    >
      <div class="space-y-2 text-center">
        <a href="/Home">
          <h1 class="Liberation Mono text-9xl font-semibold italic">AMP</h1>
          <p class="italic">All about me</p>
        </a>
      </div>
    </div>
  </section>
</Layout>
